*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  // color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// make footer design column
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // height: 100px;
  // background-color: #f5f5f5;
  border-top: 1px solid #ced4da;
  padding: 10px;
}